@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>POKEMON TOURNAMENT MANAGER</h1>
    <p class="lead">This application was made regarding the web services course</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application is consuming a web service, giving you the possibility to manage your pokemons &Aacute; stadiums
        </p>
     </div>
</div>